/* --- start of CSS reset --- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  
  a {
    text-decoration: none;
  }
  
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
  
  /* --- end of CSS reset --- */

body {
    background-color: #f7e4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    color: #467745;
    width: 100%;
    max-width: 480px;
    text-align: center;
    margin-bottom: 30px;
}

.subject {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 480px;
    height: 64px;
    color: #467745;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 480px;
    width: 100%;
    height: 120px;
    color: #467745;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}

.data-management-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #467745;
    margin-bottom: 30px;
    width: 100%;
    max-width: 480px;
    position: relative;
}

.data-management-container label {
    line-height: 20px;
    text-align: left;
    display: block;
    margin-left: 30px;
}

.data-management-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
}

.button-element {
    max-width: 480px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-family: 'EB Garamond', serif;
    font-size: 21px;
    text-align: center;
    max-width: 280px;
    width: 100%;
    height: 80px;
    background-color: #467745;
    color: #f7e4d4;
    letter-spacing: 0.2em;
    border-radius: 40px;
    text-transform: uppercase;
}

@media only screen and (max-width: 520px) {
    h1 {
        font-size: 36px;
        text-align: left;
    }

    .data-management-container, .subject, textarea, h1 {
        width: calc(100% - 40px);
        margin: 0px 20px 30px 20px;
    }

    .checkmark {
        top: 10px;
    }
}